* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    background: #0082e6;
    height: 80px;
    overflow: auto;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        overflow: hidden;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSdvTsja07zfofO9tIrlm9ZarpOgne3WnAuRSoWBAxAIbzBS-7w");
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.our-service {
    font-size: large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: -500px;
    color: azure;
    background-color: #2c3e50;
    display: inline-block;
    max-width: 100vw;
    width: 300px;
    margin: 0 auto;
    display: table;
    height: 50px;
    z-index: -2;
    box-shadow: 5px 5px 5px 10px whitesmoke;
}

.column {
    float: left;
    width: 33.33%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin-top: 20px;
    word-break: break-all;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}


/* Three columns side by side */

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/* Add some shadows to create a card effect */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}


/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: white;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 500px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

.service {
    height: 300px;
    background-color: #ccc;
    text-align: center;
    margin-top: 3px;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.flex>div {
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

ul.b {
    list-style-type: square;
}

.footer {
    background: #222222;
    padding: 50px;
}

@media screen and (max-width: 600px) {
    .footer {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.footer .footer_menu {
    max-width: 1000px;
    width: 100%;
    display: flex;
    margin: 0 auto 25px;
    justify-content: space-between;
}

.footer .footer_menu .title {
    margin-bottom: 10px;
    color: #adadad;
}

.footer .footer_menu ul li a {
    display: block;
    margin-bottom: 6px;
    color: #fff;
}

.footer .footer_menu ul li a:hover {
    text-decoration: underline;
}

.footer .partners {
    margin-bottom: 25px;
}

.footer .partners ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .partners li a {
    background: url('partners.png') no-repeat 0 0;
    width: 101px;
    height: 100px;
    display: block;
    margin: 0 5px;
}

.footer .partners li a.partner1 {
    background-position: 0 0;
    width: 100px;
    height: 100px;
}

.footer .partners li a.partner2 {
    background-position: 0 -108px;
    width: 100px;
    height: 101px;
}

.footer .partners li a.partner3 {
    background-position: 0 -216px;
    width: 100px;
    height: 101px;
}

.footer .partners li a.partner4 {
    background-position: 0 -325px;
    width: 100px;
    height: 101px;
}

.footer .partners li a.partner5 {
    background-position: 0 -446px;
    width: 100px;
    height: 100px;
}

.footer .social_media {
    text-align: center;
}

.footer .social_media ul {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer .social_media ul li a {
    display: block;
    margin: 0 5px;
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background: #fff;
    color: #222222;
    line-height: 50px;
    border-radius: 3px;
}

.footer .social_media ul li a:hover {
    color: #fff;
}

.footer .social_media ul li a.facebook:hover {
    background: #3b5998;
}

.footer .social_media ul li a.twitter:hover {
    background: #1da1f2;
}

.footer .social_media ul li a.instagram:hover {
    background: #c32aa3;
}

.footer .social_media ul li a.whatsapp:hover {
    background: #25d366;
}

.footer .social_media {
    color: #adadad;
}

@media (max-width:768px) {
    .wrapper .navbar .logo {
        font-size: 20px;
    }
    .main_container {
        padding: 25px;
    }
    .main_container .item {
        flex-direction: column;
    }
    .main_container .item .img_holder {
        max-width: 750px;
        width: 100%;
    }
    .main_container .item .item_info {
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .footer .footer_menu {
        flex-direction: column;
        width: 220px;
        margin: 0 auto 25px;
    }
    .footer .footer_menu>div {
        margin: 10px 0;
    }
    .footer .partners ul li a {
        margin: 5px;
    }
}

.clear-fix {
    clear: both;
}

.testimonial {
    width: 720px;
    height: auto;
    margin: 0px auto;
}

@media screen and (max-width: 600px) {
    .testimonial {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.testimonial .item {
    width: 220px;
    margin: 0 10px;
    float: left;
    background: #6ddfc0;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
}

.testimonial .item .img {
    padding: 20px;
}

.testimonial .item .img img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.testimonial .item .name {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.testimonial .item .content {
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    text-align: center;
}

.testimonial .item .content h1 {
    margin-bottom: 10px;
    color: #6ddfc0;
}

.testimonial .item .content p {
    line-height: 20px;
    margin-bottom: 15px;
}

.testimonial .item .content .stars img {
    width: 25px;
}